/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.filter-bg {
  background-color: rgba(34, 34, 34, 0.76);
}

.bg-table {
  background-color: #e2e8f0;
}
